<!DOCTYPE html>
<html lang="de">
    <!-- ++++++++++++++++++++++++++++++++++++++++ METADATA +++++++++++++++++++++++++++++++++++++++-->
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Taxgarage / Creatax / Richtax / Tax-Reconciliation.">
        <meta name="keywords" content="XML-TEI, Taxonomy, Reconciliation, Wikidata">
        <meta name="author" content="Sabrina S">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Richtax - Download</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename ='img/favicon.ico')}}">
        <link rel="stylesheet"
            href="{{url_for('static', filename = 'css/dataTables-bootstrap4-min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/font-awesome-min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/richtax.css')}}">
    </head>

    <body>
        <div class="wrapper">
        <!-- ++++++++++++++++++++++++++ HEADER WITH NAVIGATION AREA +++++++++++++++++++++++++++-->
        <header>
            <!-- navigation area on the top of the site -->
            <nav class="bg navbar navbar-expand-lg navbar-light fixed-top" id="richtaxnav">
                <div class="container-md text-white">
                    <strong>
                        <a class="navbar-brand" href="{{url_for ('index') }}">
                            <img class="img-responsive text-white" title="Richtax"
                                src="{{url_for('static', filename = 'img/logo_richtax.png')}}" alt="RICHTAX" id="logo">
                        </a>
                    </strong>
                    <button class="navbar-toggler navbar-toggler-left" data-toggle="collapse"
                        data-target="#navbarMenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarMenu">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{{url_for('index')}}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{{url_for('input')}}">Quickstart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{{url_for('documentation')}}">Documentation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{{url_for('impressum')}}">Imprint</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- +++++++++++++++++++++++++++++++ MAIN WEBSITE AREA +++++++++++++++++++++++++++++++++++-->
        <main>
            <div class="container">
                <div class="row">
                    <h1>RICHTAX</h1>
                    <section class="content">
                        <h3>Reconciliation and download of your data</h3>

                        <!-- success message after reconciliation of taxonomy -->
                        <p class="mb-3 success">Yippy Yay Yo - Your taxonmy has sucessfully been enriched with Wikidata Q Identifiers!</p>

                        <!-- +++++++++++++++++++++++++++++++ DOWNLOAD SECTION +++++++++++++++++++++++++++++++++++-->
                        <!-- direct download option for the reconciled taxonomy -->
                        <div id="download-section">
                            <p class="instruction-text">Download your xml file:</p>
                            <button class="btn btn-default" type="button" onclick= "window.location.href='/download';">Download</button>
                            <p>{{ download_msg }}</p>
                        </div>


                        <!-- text area for further edition of the reconciled taxonomy before downloading it or for copying the reconciled taxonomy -->
                        <div>
                            <p class="instruction-text">Do not forget to insert this section right above your taxonomy into the &lt;encodingDesc&gt;. </p>
                            <div class="input-group mb-3 text-muted" id="outputDownload">
                                <textarea class="form-control" id="outputXML"
                            aria-label="insert-area" name="outputXML">
<listPrefixDef>
    <prefixDef ident="{{ namespace }}" matchPattern="([(a-z)|(A-Z)]+)"
        replacementPattern="http://www.wikidata.org/wiki/">
        <p>
            <ref target="https://www.wikidata.org/wiki/Help:Namespaces"/>
        </p>
    </prefixDef>
</listPrefixDef>
                                </textarea>

                            <!-- copy button to copy the text of the text field into the local cache -->
                            <button class="btn btn-default" type="button" id="copyButton"
                                    data-toggle="tooltip" data-placement="button"
                                    title="Copy to Clipboard" onclick="CopyToClipboard()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                      </svg>
                                  Copy
                                </button>
                        </div>
                        </div>
                        <p class="mt-3">For further information on namespaces refer to the <a href="{{url_for('documentation')}}" target="_blank">Documentation</a> (opens in a separate tab).</p>
                    </section>
                </div>
            </div>
        </main>

        <!-- +++++++++++++++++++++++++++++++  FOOTER WITH REFERENCES +++++++++++++++++++++++++++++++++++ -->
        <footer class="footer mt-auto">

            <!-- responsibility statement and contact options -->
            <div class="container-lg-expand bg-gradient ">
                <div
                    class="container-md footerwrap d-flex flex-wrap justify-content-between align-items-center">
                    <div class="text-white">
                        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" id="licence-logo" /></a><br /><p class="licence-text m-0">This work is licensed under a <br/><a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0 Intern. License</a>.</p>
                    </div>
                    <div class="footerlogo p-3">
                        <a href="https://www.uni-graz.at/de/" target="_blank">
                            <img title="Universität Graz"
                                src="{{url_for('static', filename = 'img/logo_uni.jpg')}}"
                                alt="Universität Graz">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

         <!-- +++++++++++++++++++++++++++++++ EMBEDDED SCRIPTS +++++++++++++++++++++++++++++++++++ -->
        <script src="{{url_for('static', filename = 'js/jquery-3.4.1.slim.min.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/popper.min.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/jquery.dataTables.min.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/richtax.js')}}"></script>

    </body>
</html>
